*.rbc
*.sassc
.hg/*
.hg*
.sass-cache
.tags*
capybara-*.html
/.bundle
/artifacts/*
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/coverage/
**/__coverage__
/codeclimate
/spec/tmp/*
**.orig
**/.DS_Store
rerun.txt
pickle-email-*.html
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.idea
.vagrant
.pids
dump.rdb
db/data.yml
db/test*
/cookbooks
coverage
public/*
public/uploads
public/assets*
vendor/cache
public/test
public/partner
public/customer
public/attachment
tmp
yarn-error.log
client/dist/*
client/yarn-error.log
package-lock.json
/ssl/*
.env.*local

# Zeus
custom_plan.rb
zeus.json

# Feature specs
chromedriver.log
.rspec.state

# React on Rails
npm-debug.log*
node_modules

# Generated js bundles
/app/assets/webpack/*
/public/packs
/public/packs-test
/node_modules

# Tools
.vscode
doc/tddc_api_v2.paw
